<h1><%= @room.title %></h1>


<div id="messages" data-room-id="<%= @room.id %>">
  <%= render @room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body %>

  <%= f.submit "Post" %>
<% end %>
